App {
  text-align: center;
  margin-top: 100px;
}

input{
  padding: 10px;
  width: 400px;
}
.content{
  height: 200px;
}

button{
  padding: 5px;
  width: 100px;
  background-color: darkgoldenrod;
}